@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.App {
  width: 100%;
  height: 100%;
}
.navbar {
  width: 100%;
  display: flex;
  margin-top: 0%;
  height: 60px;
  align-items: center;
  background-color: #0d2944;
  justify-content: space-between;
}
.main {
  display: flex;
  height: 707px;
}
.box1 {
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1820;
  height: 100%;
}
.box2 {
  width: 100%;
  background-color: #0d1820;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box3 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1820;
  height: 100%;
}
.icon {
  height: 40px;
  float: left;
  margin-left: 30px;
}
.user-icon {
  height: 35px;
  float: right;
}
.header > .link {
  text-decoration: none;
}
.header > .link > a {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  margin: 0 0 0 15px;
  color: #fff3eb;
  font-size: 28px;
}
.login {
  font-family: "Varela Round", sans-serif;
  margin: 0 20px 0 10px;
  color: #fff3eb;
  font-size: 20px;
  text-decoration: none;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.searchbar {
  display: flex;
  align-items: center;
  position: fixed;
  margin-left: 23%;
}
.search-button {
  width: 100px;
  height: 100px;
}
form.searchbar input[type="text"] {
  padding: 8px;
  font-size: 17px;
  margin-left: 250px;
  border: none;
  float: left;
  width: 300px;
  background: #f1f1f1;
  border-radius: 15px;
  outline: none;
}
form.searchbar button {
  float: left;
  border-radius: 9px;
  width: 10%;
  height: 30px;
  padding: 0px;
  background: none;
  color: white;
  font-size: 20px;
  border: none;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
}
.searchbar {
  margin-right: 80px;
}
.sidepanel {
  background-color: #0d1820;
  width: 90%;
  height: 95%;
  border-width: 1px;
  border-style: solid;
  border-color: #0d2944;
  border-radius: 10px;
  display: list-item;
}
.header {
  width: 100%;
  margin-left: 0px;
  height: 7%;
  color: #f9fbfd;
  background-color: #0d2944;
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 8px; 
}
.sidecontents {
  width: 100%;
  height: 90%;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.sidecontents > .sidecontent {
  color: #f1f1f1;
  font-family: "Varela Round", sans-serif;
  font-size: 22px;
  padding-top: 15px;
  display: flex;
  padding-left: 20px;
  padding-bottom: 10px;
  justify-content: space-between;
}
.sidecontent > button {
  margin-right: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  color: #0d1820;
  background-color: #159992;
  border-radius: 5px;
  cursor: pointer;
}
.content {
  /* display: flex; */
  width: 98%;
  height: 95%;
  background-color: #0d1820;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #0d2944;
}
.contentHeader {
  width: 100%;
  height: 10%;
  display: flex;
  border-radius: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  background-color: #0d1820;
}
.contenthead {
  margin-left: 20px;
  margin-bottom: 0px;
  color: #f1f1f1;
  border-radius: 10px;
}
.contenttotalrooms {
  color: #159992;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 0px;
}
.contentheadwithtotal {
  padding-top: 10px;
}
.contentHeader > .link{
  text-decoration: none;
  margin-right: 10px;
}
.contentHeader > .link > button {
  outline: none;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  height: 50%;
  color: #0d1820;
  background-color: #159992;
  border-radius: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
  cursor: pointer;
}
.add {
  color: #f1f1f1;
  height: 35px;
  padding-right: 7px;
}

.tophosts {
  background-color: #0d1820;
  width: 95%;
  height: 95%;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #0d2944;
}

.hosts {
  display: list-item;
  overflow: scroll;
  height: 91%;
}
.hosts > .host {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  /* justify-content: center; */
}
.hosts > .host > .details > label {
  padding-left: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: white;
}
.hosts > .host > .details > img {
  height: 22%;
  width: 22%;
}
.hosts > .host > .details {
  display: flex;
  align-items: center;
}
.hosts > .host > button {
  margin-right: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  color: #0d1820;
  background-color: #159992;
  border-radius: 5px;
  cursor: pointer;
}
.rooms {
  display: list-item;
  justify-content: center;
  overflow: scroll;
  height: 89%;
  border-radius: 10px;
}
.room {
  width: 98%;
  margin: 9px;
  background-color: rgba(13, 41, 68, 2);
  border-radius: 10px;
}
.rooms > .room > .owner > .ownerheader > img {
  height: 40px;
  margin-left: 10px;
  margin-right: 5px;
  /* width: 20%; */
  padding-top: 2px;
  border-radius: 75px;
}
.rooms > .room > .owner {
  justify-content: space-between;
  display: flex;
}
.rooms > .room > .owner > p {
  padding-right: 15px;
  color: aqua;
}
.rooms > .room > .owner > .ownerheader {
  align-items: center;
  display: flex;
}
.rooms > .room > .owner > .ownerheader > .ownerdetail > a {
  text-decoration: none;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: white;
  padding-left: 5px;
}
.rooms > .room > .roomdetails {
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 10px;
  /* margin-bottom: 25px; */
  align-items: center;
}
.rooms > .room > .roomdetails > .link {
  text-decoration: none;
  margin-bottom: 20px;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}

.rooms > .room > .roomdetails > .link:hover {
  color: cyan;
}

.rooms > .room > .roomdetails > .studentlist > img {
  margin-top: 20px;
  height: 5%;
  width: 5%;
  margin-bottom: 10px;
  border-radius: 50px;
}
.rooms > .room > .roomdetails > .studentlist > hr {
  margin-bottom: 10px;
  background-color: #159992;
  outline: none;
  border: none;
  height: 1px;
}
.rooms > .room > .roomdetails > .peoplejoined > .number > .people {
  height: 30px;
  width: 28%;
  background-color: #10b07b;
  border-radius: 200px;
  margin-right: 10px;
}
.rooms > .room > .roomdetails > .peoplejoined > .number {
  width: 15%;
  display: flex;
  align-items: center;
}
.rooms > .room > .roomdetails > .peoplejoined {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  color: white;
  font-size: 15px;
  justify-content: space-between;
}
.rooms > .room > .roomdetails > .peoplejoined > label {
  background-color: #10b07b;
  color: #0d2944;
  font-size: 16px;
  width: 70px;
  height: 25px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.chatroom {
  height: 707px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.chatroom > .chatspace {
  width: 95%;
  height: 90%;
  margin: 10px;
  margin-left: 10%;
  border-width: 1px;
  border-style: solid;
  border-color: #0d2944;
  border-radius: 10px;
  background-color: #0d1820;
}
.chatroom > .participants {
  margin: 10px;
  margin-right: 10%;
  width: 25%;
  height: 90%;
  border-width: 1px;
  border-style: solid;
  border-color: #0d2944;
  border-radius: 10px;
  background-color: #0d1820;
}

.chatroom > .chatspace > .chatspaceheader {
  width: 100%;
  margin-left: 0px;
  height: 7%;
  color: #f9fbfd;
  background-color: #0d2944;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  
}
.chatroom > .chatspace > .chatspaceheader > .headercontent {
  display: flex;
  align-items: center;
}
.chatroom > .chatspace > .chatspaceheader > .headercontent > .link{
  margin: 10px;
  fill:#159992;
}
.chatroom > .chatspace > .chatspaceheader > .headercontent > .link > img{
  margin: 10px;
  border-radius: 10px;
  width: 60%;
}
.chatroom > .chatspace > .chatspaceheader > .host{
  display: flex;
  align-items: center;
  margin-right: 15px;
} 
.chatroom > .participants > .participantsdetails{
  overflow: scroll;
  height: 91.5%;
}

.chatroom > .participants > .participantsdetails > .participant > .details > img {
  height: 15%;
  width: 15%;
  padding: 5px;
  margin-left: 10px;
  border-radius: 75px;
  border-width: 2px;
  border-style: solid;
  border-color: #10b07b;
}

.chatroom > .participants > .participantsdetails > .participant > .details{
  align-items: center;
  display: flex;
  margin: 10px;
}
.chatroom > .participants > .participantsdetails > .participant > .details > label {
  font-family: "Varela Round", sans-serif;
  font-size: 21px;
  color: white;
  height: 89%;
  border-radius: 10px;
  margin-left: 20px;
}

.chatroom > .chatspace > .chatspacedetails {
  margin-left: 5px;
  margin-right: 5px;
}

.chatroom > .chatspace > .chatspacedetails > .chatspacedetailsheader {
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 5px;
  /* display: flex; */
}
.chatroom > .chatspace > .chatspacedetails > .chatspacedetailsheader > .details {
  display: flex;
  justify-content: space-between;
}
.chatroom > .chatspace > .chatspacedetails > .chatspacedetailsheader > .details > label{
  /* margin-left: 20px; */
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  color: white;
}
.chatroom > .chatspace > .chatspacedetails > .chatspacedetailsheader > .details >button{
  outline: none;
  /* border:#f1f1f1; */
  width: 8%;
  display: flex;
  align-items: center;
  height: 30px;
  color: #2E475E;
  background-color: #159992;
  border-radius: 20px;
  margin-right: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 19px;
  cursor: pointer;
  justify-content: center;
  border: none;
}
.chatroom > .chatspace > .chatspaceheader > .host > img{
  height: 70%;
  width: 70%;
}

.chatroom > .chatspace > .chatspacedetails > .chatspacedetailsheader > .about{
  justify-content: center;
  align-items: center;
  display: block;
}
.chatroom > .chatspace > .chatspaceheader  > .host > label{
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color:white;
  margin-left: 5px;
}
.chatroom > .chatspace > .chatspacedetails > .chats{
  background-color: #313246;
  border-radius: 5px;
  height: 445px;
  width: 100%;
  overflow: scroll;
}

.chatroom > .chatspace > .chatspacedetails > .entryfield{
  display: flex;
  margin-top: 7px;
}
.chatroom > .chatspace > .chatspacedetails > .entryfield > input{
  width : 95%;
  height: 31px;
  margin-right: 5px;
  border-radius: 5px;
  border:none;
}
.chatroom > .chatspace > .chatspacedetails > .entryfield > .send{
  cursor: pointer;
  height: 34px;
  transform: rotate(90deg);
}
.form{
  display:grid;
  background-color: #444554;
  width: 25%;
  border-radius: 8px;
}
.form > .field{
  display:contents;
  justify-content: space-between;
}
.form > .field > input{
  border:none;
  border-radius: 3px;
  outline: none;
  height: 38px;
  margin-left: 10px;
  margin-right: 10px;
  border-color: hsl(0, 0%, 80%);
  background-color:hsl(0deg 0% 100%);
  margin-bottom: 0px;
}
.form > .field > .select{
  border:none;
  border-radius: 7px;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  /* background-color:#b0b7be; */
  margin-bottom: 0px;
}
::placeholder{
  color:hsl(180deg 1% 60%);
  font-size:15px;
  /* opacity: 0.5; */
}
.form > .field > label{
  font-family: "Varela Round", sans-serif;
  font-size: 19px;
  margin:10px;
  margin-top: 14px;
  color: #f1f1f1;
}
.login-form{
  display: flex;
  margin-top: 7%;
  justify-content: center;
  align-items: center;
}
.form > button{
  width: 27%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 35%;
  background-color: #10b07b;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  color: #f9fbfd;
  border: none;
  height: 60%;
  border-radius: 8px;
  cursor: pointer;
}
.formheader{
  width: 100%;
  margin-left: 0px;
  margin-bottom: 15px;
  height: 110%;
  color: #f3f4f5;
  background-color:#6A6FA1;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 8px; 
}
.login-form > .form > p{
  color: white;
  padding-left: 5px;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  margin-left: 8px;
}
.login-form > .form > p > .link{
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  color: rgb(43, 248, 104);
  font-size: 16px;
}
.form > .field > textarea{
  height: 100px;
  margin:10px;
  margin-top: 0px;
  outline: 0!important;
  resize: none;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(0, 0%, 80%);
  background-color:hsl(0, 0%, 100%);
}
.form > .createbutton {
  margin-bottom: 20px;
  margin-top: 10px;
  height: 30px;
}
.message{
  padding-top: 5px;
  margin: 10px;
}
.message > .details {
  align-items:center;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}
.message > .details > .user{
  display: flex;
  align-items: center;
  
}
.message > .details > .user > img{
  height: 5%;
  width: 5%;
}
.message > .details > .user > label{
  margin-left: 5px;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  color: cyan;
}
.message > .actualmessage{
  padding: 5px;
  padding-bottom: 0px;
  font-family: "Varela Round", sans-serif;
  margin: 2px;
  font-size: 20px;
  color: white;
  margin-bottom: 0px;
}
.message > .details .time{
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  color: white;
  opacity: 0.5;
  margin-right: 20px;
}
.profile{
  width: 70%;
  margin-left: 15%;
  margin-top: 3%;
  height:600px;
  color: #f3f4f5;
  background-color:#0d1820;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #0d2944;
}
.profile > .profilepic >img {
  height: 200px;
}
.profile > .profilepic {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}