@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.App {
  width: 100%;
  height: 100%;
}
.navbar {
  width: 100%;
  display: flex;
  margin-top: 0%;
  height: 60px;
  align-items: center;
  background-color: #0d2944;
  justify-content: space-between;
}
.main {
  display: flex;
  height: 707px;
}
.box1 {
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1820;
  height: 100%;
}
.box2 {
  width: 100%;
  background-color: #0d1820;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box3 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1820;
  height: 100%;
}
.icon {
  height: 60px;
  float: left;
  margin-left: 30px;
}
.user-icon {
  height: 45px;
  float: right;
}
.header > .link {
  text-decoration: none;
}
.header > .link > a {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  margin: 0 0 0 15px;
  color: #fff3eb;
  font-size: 35px;
}
.login {
  font-family: "Varela Round", sans-serif;
  margin: 0 10px 0 10px;
  color: #fff3eb;
  font-size: 23px;
  text-decoration: none;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.searchbar {
  display: flex;
  align-items: center;
}
.search-button {
  width: 100px;
  height: 100px;
}
form.searchbar input[type="text"] {
  padding: 8px;
  font-size: 17px;
  border: none;
  float: left;
  width: 300px;
  background: #f1f1f1;
  border-radius: 15px;
  outline: none;
}
form.searchbar button {
  float: left;
  border-radius: 9px;
  width: 10%;
  height: 30px;
  padding: 0px;
  background: none;
  color: white;
  font-size: 20px;
  border: none;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
}
.searchbar {
  margin-right: 80px;
}
.sidepanel {
  background-color: #0d1820;
  width: 90%;
  height: 95%;
  border-width: 1px;
  border-style: solid;
  border-color: #0d2944;
  border-radius: 10px;
  display: list-item;
}
.header {
  width: 100%;
  margin-left: 0px;
  height: 7%;
  color: #f9fbfd;
  background-color: #0d2944;
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 8px;
  
}
.sidecontents {
  width: 100%;
  height: 90%;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.sidecontents > .sidecontent {
  color: #f1f1f1;
  font-family: "Varela Round", sans-serif;
  font-size: 22px;
  padding-top: 15px;
  display: flex;
  padding-left: 20px;
  padding-bottom: 10px;
  justify-content: space-between;
}
.sidecontent > button {
  margin-right: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  color: #0d1820;
  background-color: #159992;
  border-radius: 5px;
  cursor: pointer;
}
.content {
  /* display: flex; */
  width: 98%;
  height: 95%;
  background-color: #0d1820;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #0d2944;
}
.contentHeader {
  width: 100%;
  height: 10%;
  display: flex;
  border-radius: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  background-color: #0d1820;
}
.contenthead {
  margin-left: 20px;
  margin-bottom: 0px;
  color: #f1f1f1;
  border-radius: 10px;
}
.contenttotalrooms {
  color: #159992;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 0px;
}
.contentheadwithtotal {
  padding-top: 10px;
}
.contentHeader > button {
  outline: none;
  border: none;
  width: 20%;
  display: flex;
  align-items: center;
  height: 50%;
  color: #0d1820;
  background-color: #159992;
  border-radius: 10px;
  margin-right: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
  cursor: pointer;
}
.add {
  color: #f1f1f1;
  margin-left: 0px;
  height: 60%;
}

.tophosts {
  background-color: #0d1820;
  width: 95%;
  height: 95%;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #0d2944;
}

.hosts {
  display: list-item;
  overflow: scroll;
  height: 91%;
}
.hosts > .host {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  /* justify-content: center; */
}
.hosts > .host > .details > label {
  padding-left: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: white;
}
.hosts > .host > .details > img {
  height: 22%;
  width: 22%;
}
.hosts > .host > .details {
  display: flex;
  align-items: center;
}
.hosts > .host > button {
  margin-right: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  color: #0d1820;
  background-color: #159992;
  border-radius: 5px;
  cursor: pointer;
}
.rooms {
  display: list-item;
  justify-content: center;
  overflow: scroll;
  height: 89%;
  border-radius: 10px;
}
.room {
  width: 98%;
  margin: 9px;
  background-color: rgba(13, 41, 68, 2);
  border-radius: 10px;
}
.rooms > .room > .owner > .ownerheader > img {
  height: 40px;
  margin-left: 10px;
  margin-right: 5px;
  /* width: 20%; */
  padding-top: 2px;
  border-radius: 75px;
}
.rooms > .room > .owner {
  justify-content: space-between;
  display: flex;
}
.rooms > .room > .owner > p {
  padding-right: 15px;
  color: aqua;
}
.rooms > .room > .owner > .ownerheader {
  align-items: center;
  display: flex;
}
.rooms > .room > .owner > .ownerheader > .ownerdetail > a {
  text-decoration: none;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: white;
  padding-left: 5px;
}
.rooms > .room > .roomdetails {
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 10px;
  /* margin-bottom: 25px; */
  align-items: center;
}
.rooms > .room > .roomdetails > .link {
  text-decoration: none;
  margin-bottom: 20px;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}

.rooms > .room > .roomdetails > .studentlist > img {
  margin-top: 20px;
  height: 5%;
  width: 5%;
  margin-bottom: 10px;
  border-radius: 50px;
}
.rooms > .room > .roomdetails > .studentlist > hr {
  margin-bottom: 10px;
  background-color: #159992;
  outline: none;
  border: none;
  height: 1px;
}
.rooms > .room > .roomdetails > .peoplejoined > .number > .people {
  height: 30px;
  width: 28%;
  background-color: #10b07b;
  border-radius: 200px;
  margin-right: 10px;
}
.rooms > .room > .roomdetails > .peoplejoined > .number {
  width: 15%;
  display: flex;
  align-items: center;
}
.rooms > .room > .roomdetails > .peoplejoined {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  color: white;
  font-size: 15px;
  justify-content: space-between;
}
.rooms > .room > .roomdetails > .peoplejoined > label {
  background-color: #10b07b;
  color: #0d2944;
  font-size: 16px;
  width: 70px;
  height: 25px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.chatroom {
  height: 707px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.chatroom > .chatspace {
  width: 95%;
  height: 90%;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #0d2944;
  border-radius: 10px;
}
.chatroom > .participants {
  margin: 10px;
  width: 45%;
  height: 90%;
  border-width: 1px;
  border-style: solid;
  border-color: #0d2944;
  border-radius: 10px;
}

.chatroom > .chatspace > .chatspaceheader {
  width: 100%;
  margin-left: 0px;
  height: 7%;
  color: #f9fbfd;
  background-color: #0d2944;
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 8px;
  
}
.chatroom > .chatspace > .chatspaceheader > .headercontent {
  justify-content: center;
  display: flex;
  align-items: center;
}
.chatroom > .chatspace > .chatspaceheader > .headercontent > .link{
  margin: 10px;
}
